body {
    margin: 50px 80px;

}

.boton {
    margin: 50px 80px;
    background-color: blue;
    color: #fff;
    padding: 25px 40px;
    font-size: 25px;
    border: 1px solid;
}

nav {
    padding: 1px;
    background-color: #ee80fd94;
    margin: 25px 100px;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #fff;
}

